<div ng-controller="mainCtrl" db="channelid_db">
	<form name="userForm" ng-submit="validation(userForm.$valid,{'channelID':c.ChannelID,'channel':c.Channel})" novalidate>
		<div class="row padding-top-10 padding-bottom-10">
			<div class="col-md-8 col-sm-8 block form-group" ng-class="{'has-error': userForm.cChannelID.$invalid && !userForm.cChannelID.$pristine}">
				<div class="padding-bottom-5">
					<span class="label label-default">Kanal-ID</span>
				</div>
				<input name="cChannelID" class="inputField form-control" ng-model="c.ChannelID" type="text" placeholder="ID..." ng-maxlength="1" required />
				<div class="absolute top-60 z-index-10" ng-show="userForm.cChannelID.$invalid && !userForm.cChannelID.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box" ng-show="userForm.cChannelID.$error.required">Die Kanal-ID muss mindestens ein Zeichen enthalten.</p>
					<p class="help-block my-info-box" ng-show="userForm.cChannelID.$error.maxlength">Die Kanal-ID darf nur ein Zeichen enthalten.</p>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 block form-group" ng-class="{'has-error': userForm.cChannel.$invalid && !userForm.cChannel.$pristine}">
				<div class="padding-bottom-5">
					<span class="label label-default">Kanal</span>
				</div>
				<input name="cChannel" class="inputField form-control" ng-model="c.Channel" type="text" placeholder="Kanalname..." ng-minlength="1" required />
				<div class="absolute top-60 z-index-10" ng-show="userForm.cChannel.$invalid && !userForm.cChannel.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Der Kanalname muss mindestens ein Zeichen enthalten.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 padding-top-25">
				<button type="submit" class="btn btn-default" id="btn-input">Kanal-ID anlegen</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<table class="table table-responsive table-hover">
				<th class="col-sm-1">Kanal-ID</th>
				<th class="col-sm-10">Kanal</th>
				<th class="col-sm-1 main-center">Löschen</th>
				<tr ng-repeat="value in items track by $index">
					<td><input type="text" class="main-borderless-input" ng-value="value.doc.channelID" ng-model="valueN.doc.channelID" ng-init="valueN.doc.channelID=value.doc.channelID" /></td>
					<td><input type="text" class="main-borderless-input" ng-value="value.doc.channel" ng-model="valueN.doc.channel" ng-init="valueN.doc.channel=value.doc.channel" /></td>
					<td align="center">
						<button ng-click="validation(true,{_id:value.doc._id,_rev:value.doc._rev,channelID:valueN.doc.channelID,channel:valueN.doc.channel})" type="button" class="btn btn-default" style="padding: 1px 1px;">
							<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
						</button>
						<button ng-click="deleteItem({id:value.doc._id,rev:value.doc._rev,info:'Kanal: &quot;' + value.doc.channel + '&quot;'})" type="button" class="btn btn-default" style="padding: 1px 1px;">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>