<div ng-controller="createCtrl">
	<div class="row padding-top-10 padding-bottom-10">
		<div class="col-md-8 col-sm-8">
			<div class="padding-bottom-5">
				<span class="label label-default">Ziel-Url</span>
			</div>
			<input id="inputField" class="form-control" ng-model="cUrl" type="text" placeholder="" quicksend hit="keyHit()" />
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="padding-bottom-5">
				<span class="label label-default">Intern/Extern</span>
			</div>
			<div popdown options="['Intern','Extern']"></div>
		</div>
		<div class="col-md-8 col-sm-8 block">
			<div class="padding-bottom-5">
				<span class="label label-default">Werbemittel</span>
			</div>
			<input class="form-control" ng-model="cAd" type="text" placeholder="" quicksend hit="keyHit()" />
		</div>
		<div class="col-md-8 col-sm-8">
			<div class="padding-bottom-5">
				<span class="label label-default">Platzierung</span>
			</div>
			<input class="form-control" ng-model="cPlacement" type="text" placeholder="" quicksend hit="keyHit()" />
		</div>
		<div class="col-md-4 col-sm-4 padding-top-25">
			<button class="btn btn-default" ng-click="addItem(cName,cRoot,cExt)" id="btn-input">Kampagne anlegen</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<!--<table class="table table-responsive table-hover">
				<th>ID</th><th>Titel</th><th>Stamm-Url</th><th>Zusatz-Url</th><th style="text-align: center;">Löschen</th>
				<tr ng-repeat="(key,value) in items track by $index">
					<td>{{value.doc._id}}</td>
					<td>{{value.doc.name}}</td>
					<td>{{value.doc.root}}</td>
					<td>{{value.doc.ext}}</td>
					<td align="center">
						<button ng-click="deleteItem(value.doc._id,value.doc._rev)" type="button" class="btn btn-default" style="padding: 1px 1px;">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</table>-->
		</div>
	</div>
</div>