<div ng-controller="mainCtrl" db="campaigns_db">
	<form name="userForm" ng-submit="validation(userForm.$valid,{'name':c.Name,'type':c.Type,'intext':c.IntExt,'start':c.date.Start,'end':c.date.End})" novalidate>
		<div class="row padding-top-10 padding-bottom-10">
			<div class="col-md-3 col-sm-3 form-group relative" ng-class="{'has-error': userForm.cName.$invalid && !userForm.cName.$pristine }">
				<div class="padding-bottom-5">
					<label class="label label-default">Kampagnen-Titel</label>
				</div>
				<input name="cName" class="inputField form-control" ng-model="c.Name" type="text" placeholder="Titel..." required />
				<div class="absolute top-60 z-index-10" ng-show="userForm.cName.$invalid && !userForm.cName.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Der Kampagnen-Titel muss mindestens ein Zeichen lang sein.</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error': userForm.cType.$invalid && !userForm.cType.$pristine }">
				<div class="padding-bottom-5">
					<label class="label label-default">Kampagnen-Typ</label>
				</div>
				<select name="cType" ng-model="c.Type" class="form-control inputField" ng-minlength="1" ng-init="c.Type = 'Conversion'" ng-options="v for v in ['Conversion','Image']">
				</select>
				<div class="absolute top-60 z-index-10" ng-show="userForm.cType.$invalid && !userForm.cType.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Eine eindeutige Auswahl muss getroffen werden.</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error': userForm.cIntExt.$invalid && !userForm.cIntExt.$pristine }">
				<div class="padding-bottom-5">
					<span class="label label-default">Interne/Externe Kampagne</span>
				</div>
				<select name="cIntExt" ng-model="c.IntExt" class="form-control inputField" ng-minlength="1" ng-init="c.IntExt = 'Intern'" ng-options="v for v in ['Intern','Extern']">
				</select>
				<div class="absolute top-60 z-index-10" ng-show="userForm.cIntExt.$invalid && !userForm.cIntExt.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Eine eindeutige Auswahl muss getroffen werden.</p>
				</div>
			</div>
			<div ng-model="c.date" validate-date>
				<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error': userForm.cStart.$invalid && !$userForm.cStart.$pristine}">
					<div class="padding-bottom-5">
						<label class="label label-default">Kampagnenstart</label>
					</div>
					<input name="cStart" class="inputField form-control" type="text" datepicker="" ng-model="c.date.Start" placeholder="Start..." ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.\d{4}$/" />
					<div class="absolute top-60 z-index-10" ng-show="userForm.cStart.$invalid && !$userForm.cStart.$pristine">
						<div class="padding-left-5">
							<div class="my-arrow-up"></div>
						</div>
						<p class="help-block my-info-box">Falsches Datum</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error':userForm.cEnd.$invalid && !userForm.cEnd.$pristine }">
					<div class="padding-bottom-5">
						<span class="label label-default">Kampagnenende</span> 
					</div>
					<input name="cEnd" class="inputField form-control" type="text" datepicker="" ng-model="c.date.End" placeholder="Ende..." ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.\d{4}$/" />
					<div class="absolute top-60 z-index-10" ng-show="userForm.cEnd.$invalid && !$userForm.cEnd.$pristine">
						<div class="padding-left-5">
							<div class="my-arrow-up"></div>
						</div>
						<p class="help-block my-info-box">Falsches Datum</p>
					</div>
					<div class="absolute top-60 z-index-10 has-error" ng-show="userForm.$error.wrongDatePeriod">
						<div class="padding-left-5">
							<div class="my-arrow-up"></div>
						</div>
						<p class="help-block my-info-box">Anfangsdatum muss vor Enddatum liegen</p>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-sm-1 padding-top-25">
				<button class="btn btn-default" type="submit" id="btn-input">anlegen</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<table class="table table-responsive table-hover">
				<th>ID</th><th>Titel</th><th>Typ</th><th>Intern/Extern</th><th>Start</th><th>Ende</th><th style="text-align: center;">Löschen</th>
				<tr ng-repeat="(key,value) in items track by $index">
					<td>{{value.doc.campid}}</td>
					<td>{{value.doc.name}}</td>
					<td>{{value.doc.type}}</td>
					<td>{{value.doc.intext}}</td>
					<td>{{value.doc.start}}</td>
					<td>{{value.doc.end}}</td>
					<td align="center">
						<button ng-click="deleteItem({id:value.doc._id,rev:value.doc._rev,info:'Kampagne: &quot;' + value.doc.name + '&quot;'})" type="button" class="btn btn-default" style="padding: 1px 1px;">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>